<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <p class="ion-padding">
    <ion-text><b>GoulsUp</b></ion-text><br><br>
    <ion-text>
      Privacy Policy of FS Video Status app <br><br>

      When you use Video Status Mobile applications on Android, This Privacy Policy describes the information collected
      by Video Status through our mobile applications and how we use that information. Your privacy is important to 4K
      Status – HD Video Status. Sometimes we need information to provide services that you request; this privacy
      statement applies to its Android Applications.<br><br>



      Personal Information:<br><br>

      We not collecte your any type data and not need any login or registration

      Privacy Policy Update:<br><br>

      Video Status app will occasionally update this privacy statement. When we do so, we will also revise the "last
      modified" date of the privacy statement.<br><br>


      Availability of Content:<br><br>

      We do not guarantee that any Content will be made available on the app or through the Services. We reserve the
      right to, but do not have any obligation to, (i) remove, edit, modify, or block from the Services any Content in
      our sole discretion, at any time, without notice to you and for any reason (including, but not limited to, upon
      receipt of claims or allegations from third parties or authorities relating to such Content or if we are concerned
      that you may have breached the final sentence of the immediately foregoing paragraph), or for no reason at
      all.<br><br>

      If you have any questions about this Privacy Policy, the practices of this app or your dealings with this app
      please feel free to contact us at: goalsup333@gmail.com<br><br>

      Thank You...
    </ion-text>
  </p>
</ion-content>