.main_card {
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 7px -4px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    margin-bottom: 6px;
    border-radius: 12px;

    .card-labal {
        margin: 12px 0;
        margin-top: 2px;
        font-size: 15px;
        color: #000000;
        text-shadow: 1px 1px 17px rebeccapurple;
    }
}

.overlay {
    height: 450px;
    background: linear-gradient(245deg, #EE38A3, #E51A4B);
}