<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Favorite Quotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [scrollEvents]="true" (ionScroll)="onScroll($event)" #content>
  <ion-row *ngIf="gs.myFavQuotes.length">
    <ion-col size="6" *ngFor="let quotRow of gs.myFavQuotes;let inx = index">
      <ion-card color="primary" style="margin-bottom: 2px;border: 2px solid white;border-radius: 10px;height: 300px;"
        class="ion-no-margin ion-no-padding" (click)="goQuotesSlides(gs.myFavQuotes, inx)">
        <img [src]="quotRow.quotes_thumb" style="height: 235px;width: 100%;object-fit: cover" />
        <ion-row class="bottum_menu">
          <ion-col class="ion-align-items-center" size="12" style="display: flex;">
            <ion-fab>
              <ion-fab-button color="primary" size="small">
                <ion-icon name="share-social-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <span style="margin-left: auto;">
              <ion-fab>
                <ion-fab-button (click)="unFavConfirm(quotRow);$event.stopPropagation()" fill="outline" color="primary"
                  size="small">
                  <ion-icon name="heart"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </span>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <p *ngIf="!gs.myFavQuotes.length" class="ion-text-center" style="margin-top: 100px;">
    <ion-text>
      No Favorite Quotes
    </ion-text>
  </p>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isShown">
    <ion-fab-button mini (click)="scrollToTop()" color="secondary" size="small" class="scroll_btn">
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>