<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Video Status</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="gs.languagePopup()">
        <ion-icon slot="icon-only" color="tertiary" name="language-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar color="light" *ngIf="!gs.isAndroid11">
    <ion-segment color="light" style="margin-bottom: 6px;" scrollable (ionChange)="segmentChanged($event)">
      <ng-container>
        <ion-segment-button value="none" color="light" style="max-width: 68px;border-radius: 60px!important">
          <span style="background: #1c142b;
          height: 60px;
          width: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 27px;
          border-radius: 60px;">
            <img src="assets/whatsapp-status.jpg" alt="Image" style="    object-fit: cover;
            border-radius: 50px;
            height: 60px;
            width: 60px;
            border: 2px solid white;
            background: white;">
          </span>
        </ion-segment-button>
        <ion-segment-button *ngFor="let vidrow of gs.videos; let inx=index" [value]="inx" color="light"
          style="max-width: 68px;border-radius: 60px!important">
          <span style="background: #1c142b;
          height: 60px;
          width: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 27px;
          border-radius: 60px;">
            <img [src]="vidrow.thumb" alt="Image" style="    object-fit: cover;
            border-radius: 50px;
            height: 60px;
            width: 60px;
            border: 2px solid #ec318f;">
          </span>
        </ion-segment-button>
      </ng-container>
    </ion-segment>
  </ion-toolbar> -->
</ion-header>

<ion-content color="light" [scrollEvents]="true" (ionScroll)="onScroll($event)" #content>
  <ion-refresher color="light" mode="ios" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="lines" style="background-color: #f4f5f8;"></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed *ngIf="gs.homeVideos.length">
    <ion-row>
      <ion-col class="ion-no-padding" size="6" *ngFor="let item of gs.homeVideos; let inx = index">
        <ion-card (click)="goVideoSlides(gs.homeVideos, inx)" class="ion-no-margin img_card">
          <ion-img [src]="item.video_thumb" alt="Image"></ion-img>
          <div class="img_ovarlay">
            <p>
              <b>{{item.language_name}}</b> - {{item.category_name}}
            </p>
          </div>
          <!-- <img src="./assets/play.gif" alt=""> -->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed *ngIf="!gs.homeVideos.length && gs.isSpinner">
    <ion-row>
      <ion-col size="6" *ngFor="let item of [1,2,3,4,5,6,7,8]">
        <ion-card class="ion-no-margin img_card">
          <div class="custom-skeleton" style="padding: 6px;">
            <ion-skeleton-text animated style="width: 100%;margin: auto;border-radius: 10px;height: 254px;">
            </ion-skeleton-text>
            <ion-skeleton-text animated style="margin-top: 18px;"></ion-skeleton-text>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row *ngIf="!gs.homeVideos.length && !gs.isSpinner">
    <ion-col size="12">
      <div class="ion-text-center" style="margin-top: 60px;">
        <ion-text>
          No Videos!
        </ion-text>
      </div>
    </ion-col>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isShown">
    <ion-fab-button mini (click)="scrollToTop()" color="secondary" size="small" class="scroll_btn">
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>