<ion-content [fullscreen]="true">
  <ion-slides [options]="slideOpts" #mySlider *ngIf="gs.videos.length" (ionSlideDidChange)="slideChanged()"
    (ionSlideNextEnd)="slideNextt()" (ionSlidePrevEnd)="slidePrevv()">
    <ion-slide style="overflow: hidden" *ngFor="let vidRow of gs.videos; let index=index">
      <div class="vidSection">
        <video id="isNewVideo{{index}}" muted controls controlsList="nodownload" loop disablePictureInPicture
          class="videoPlayer" width="100%" [poster]="vidRow['thumb']">
          <source src="{{vidRow['video']}}?avoidCache={{index}}" type="video/mp4" />
        </video>
      </div>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="bottom: 70px;right: 0;">
        <ion-fab-button *ngIf="!downloadspinner && !gs.isAndroid11"
          (click)="download(vidRow.name, vidRow.isBusinessWP,vidRow.isAndroid11);$event.stopPropagation()"
          color="secondary" size="small" class="fab_btn">
          <img src="assets/download.svg" alt="" style="width: 24px!important;" />
        </ion-fab-button>
        <ion-fab-button *ngIf="downloadspinner" color="secondary" size="small" class="fab_btn">
          <ion-spinner name="dots"></ion-spinner>
        </ion-fab-button>
        <ion-fab-button (click)="share(vidRow.name, vidRow.isBusinessWP,vidRow.isAndroid11);$event.stopPropagation()"
          *ngIf="!isVidShare" color="secondary" size="small" class="fab_btn">
          <ion-icon name="share-social-outline" class="blkColor"></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="isVidShare" color="secondary" size="small" class="fab_btn">
          <ion-spinner name="dots"></ion-spinner>
        </ion-fab-button>

      </ion-fab>
    </ion-slide>
  </ion-slides>
</ion-content>